@import '@/styles/index.scss';
.y-home-head {
	position: relative;
	color: #fff;
	background-color: $nav-bg;
	height: 50px;
	padding: 0 14px;
	.icon-Music{
		flex: 1;
		@include y-flexs($align: center,$just:center);
	}

	@include y-flexs($align: center);
}
