$classPrefix: drawer;
.#{$classPrefix} {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1996;
	width: 100%;
	transform: translate3d(-101%, 0, 0);
	will-change: transform;
	transition: all 0.15s ease-out;
	&.#{$classPrefix}-open {
		transform: translate3d(0, 0, 0);
		.#{$classPrefix}-overlay {
			opacity: 1;
			visibility: visible;
		}
	}
	&-sidebar{
		position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    // transform: translate3d(-100%, 0, 0);
    will-change: transform;
    transition: all 0.15s ease-out;
		width: 80%;
		background-color: #fff;
		z-index: 1996;
		overflow-y: auto;
		height: 100%;
		max-height: 100%;
	}
	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1995;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s ease-out;
		background-color: rgba(0, 0, 0, 0.4);
	}
}
