// @import '@styles/theme.scss';
.loading-wrapper {
	height: 100%;

	.loading-flex {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.loading-svg {
		fill: $loading-bg;
	}
	.loading-text {
		margin-left:10px;
		color: $loading-color;
		font-size: $font-size-small-s;
	}
}
